# Maven
/target
*.iml

# IntelliJ
.idea/
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# YML profiles
application-local.yml
application-dev.yml
application-test.yml

# Others
*.jar
*.war
*.class
